# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# Environment variables
.env
.env.dev
.env.prod
.env.example
.env.uat

# Redis data
*.rdb

# Temporary files
tmp/
temp/

# OS specific
.DS_Store
Thumbs.db

# Notebook
.obsidian/

# Test
/test/

.ruff_cache/